<html>
<head>
	
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/underscore-min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/backbone-min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}lib/typeahead.js/typeahead.min.js"></script>	
	<script type="text/javascript" src="{{STATIC_URL}}lib/alertify/lib/alertify.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/principal.js"></script>

	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/ratings.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lib/bootstrap/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lib/alertify/themes/alertify.core.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lib/alertify/themes/alertify.default.css">

</head>

<body>
	<div id="header" class="container">
		<h1>Pagina Web</h1>
	</div>
	<div class="container">
		<div class="accordion" id="materias"></div>	
	</div>
</body>

</html>


<script type="text/template" id="template_form_comentario_nuevo">
	<div id="comentario_nuevo_<%= materia_id %>" class="comentario_nuevo">
		<h4>Nuevo comentario sobre: <span>{{nombre_profesor}}</span></h4>
		<form id="form_comentario_nuevo_<%= materia_id %>">
			<textarea name="descripcion" form="form_comentario_nuevo_<%= materia_id %>" maxlength="300" placeholder="Escribe el comentario..." required></textarea>
			<label class="carita_feliz">
				<input type="radio" name="rating" value="feliz" form="form_comentario_nuevo_<%= materia_id %>" hidden />
			</label>
			<label class="carita_neutral">
				<input type="radio" name="rating" value="neutral" form="form_comentario_nuevo_<%= materia_id %>" hidden />
			</label>
			<label class="carita_triste">
				<input type="radio" name="rating" value="triste" form="form_comentario_nuevo_<%= materia_id %>" hidden />
			</label>
			<select type="text" placeholder="Año cursada" name="anio_cursada"></select>
			<select type="text" placeholder="Cuatrimestre: Ej: 1C o 2C o 1B" name="cuatrimestre_cursada" ></select>
			<input type="hidden" name="profesor" />
			<button id="enviar_comentario_nuevo_<%= materia_id %>" class="btn btn-primary">Comentar</button>
		</form>
	</div>
</script>

<script type="text/template" id="template_comentario">
	<div class="comentario">
		<div>
			<span class="carita_<%= rating %> in" alt="<%= rating %>">&nbsp;</span>		
			<span class="">Creado: </span> <%= fecha %>
			<span class=""> Anio: </span> <%= anio_cursada %>
			<span class=""> Cuatrimestre: </span> <%= cuatrimestre_cursada %>
		</div>
		<textarea name="descripcion" readonly class="textarea_desactivado"> <%= descripcion %> </textarea>		
	</div>
</script>

<script type="text/template" id="template_form_profesor_nuevo" >

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#profesor_nuevo_accordion_body">
				Agregar profesor
			</a>
		</div>
		<div id="profesor_nuevo_accordion_body" class="accordion-body collapse">
			<div class="accordion-inner profesor_nuevo_accordion_inner">
				<input id="" class="" autocomplete="off" type="text" data-provide="typehead" />
			</div>
		</div>
	</div>
	
</script>
